*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main, .container, .display, .btn{
    display: flex;
    justify-content: center;
}

main, .display, .btn{
    align-items: center;
}

main{
    background-color: #F3DEBA;
    min-height: 100vh;
}

.container{
    background-color: #000;
    border: solid 1px #fff;
    border-radius: .5rem;
    box-shadow: .5rem .5rem .5rem;
    flex-direction: column;
    height: 75vh;
    margin: 0 auto;
    max-width: 600px;
}

.display{
    background-color: #ECF2FF;
    border-radius: .2rem;
    height: 20vh;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 1rem .5rem;
}

.overall{
    font-size: 1rem;
    height: 40%;
    text-align: end;
    width: 100%;
}

.currentInput{
    font-size: 3rem;
    height: 60%;
    text-align: end;
    width: 100%;
}

.calc-btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1%;
    height: 55vh;
    justify-items: center;
    padding: 0 1rem 1rem;
}

.btn{
    background-color: #413F42;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}

.optn{
    background-color: #7F8487;
}

.operator, .equals{
    background-color: #FFB100;
    grid-column: 4;
}

.btn:nth-child(1), .btn:nth-child(18){
    grid-column: span 2;
}